<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- dataSource 라는 이름으로 DBCP 객체 생성 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@211.183.7.63:1521:orcl" />
		<property name="user" value="java21" />
		<property name="password" value="java21" />
	</bean>

	<bean id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" /> 
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="boardDao" class="board.dao.BoardDao">
		<constructor-arg ref="dataSource" />
	</bean>
	
	<bean id="boardViewService" class="board.service.BoardViewService" >
		<property name="boardDao" ref="boardDao" />
	</bean>
	
	<bean id="boardListService" class="board.service.BoardListService" >
		<property name="boardDao" ref="boardDao" />
	</bean>
	
	<bean id="boardController" class="board.controller.BoardController">
		<property name="viewInterface" ref="boardViewService" />
		<property name="listInterface" ref="boardListService" />
	</bean>
	
	
</beans>