<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">
	
   <!-- dao 객체에 -sqlSessionTemplate 주입해서 sql 팩토리 빈에 담긴 board.xml 매퍼 사용-->
	 <bean id="boardDao" class="board.dao.BoardDao">
	 	<property name="sqlSessionTemplate" 
	 	ref="sqlSessionTemplate" />
	 </bean>
	
	<bean id="boardViewService" class="board.service.BoardViewService" >
		<property name="boardDao" ref="boardDao" />
	</bean>
	
	<bean id="boardListService" class="board.service.BoardListService" >
		<property name="boardDao" ref="boardDao" />
	</bean>
	<bean id="boardUpdateService" class="board.service.BoardUpdateService" >
		<property name="boardDao" ref="boardDao" />
	</bean>
	<bean id="boardWriteService" class="board.service.BoardWriteService" >
		<property name="boardDao" ref="boardDao" />
	</bean>
	<bean id="boardDeleteService" class="board.service.BoardDeleteService" >
		<property name="boardDao" ref="boardDao" />
	</bean>
	
	<bean id="boardController" class="board.controller.BoardController">
		<property name="viewInterface" ref="boardViewService" />
		<property name="listInterface" ref="boardListService" />
		<property name="updateInterface" ref="boardUpdateService" />
		<property name="writeInterface" ref="boardWriteService" />
		<property name="deleteInterface" ref="boardDeleteService" />
	</bean>
	
	
</beans>